@charset "UTF-8";

.form-control:focus {
  box-shadow: none !important;
}

.title {
  font-size: calc( 100vw / 35 );
}

@media (max-width: 375px) {
  .title {
    font-size: calc( 100vw / 13 );
  }
}

.sub-title {
  font-size: calc( 100vw / 65 );
}

@media (max-width: 375px) {
  .sub-title {
    font-size: calc( 100vw / 20 );
  }
}

.scroll table {
  width: 100%;
}

.scroll {
  overflow: auto;
  /*tableをスクロールさせる*/
  white-space: nowrap;
  /*tableのセル内にある文字の折り返しを禁止*/
}

.scroll::-webkit-scrollbar {
  /*tableにスクロールバーを追加*/
  height: 5px;
}

.scroll::-webkit-scrollbar-track {
  /*tableにスクロールバーを追加*/
  background: #F1F1F1;
}

.scroll::-webkit-scrollbar-thumb {
  /*tableにスクロールバーを追加*/
  background: #BCBCBC;
}

