.form-control:focus {
  box-shadow:none !important;
}

//タイトルフォントサイズ修正
.title {
  font-size: calc( 100vw / 35 ); 
  }
  @media (max-width: 375px) { 
  .title {
  font-size: calc( 100vw / 13 ); 
  // 13 の数字はブラウザ・OS・フォントによって異なると思うので調整する。等幅フォントが使われると崩れる。
  // もし .container が入れ子であるならば、さらに調整する
  }
  }
  .sub-title {
  font-size: calc( 100vw / 65 ); 
  }
  @media (max-width: 375px) { 
  .sub-title {
  font-size: calc( 100vw / 20 ); 
  }
  }

