.form-control:focus {
  box-shadow: none !important;
}

.title {
  font-size: calc( 100vw / 35 );
}

@media (max-width: 375px) {
  .title {
    font-size: calc( 100vw / 13 );
  }
}

.sub-title {
  font-size: calc( 100vw / 65 );
}

@media (max-width: 375px) {
  .sub-title {
    font-size: calc( 100vw / 20 );
  }
}

